.product-title {
  font-size: 46px;
  margin: 20px 0;
}
.product-description {
  font-size: 28px;
  margin-bottom: 15px;
}
.product-price {
  font-size: 28px;
  margin-bottom: 15px;
}

.button {
  color: black;
  border: 1px solid black;
}

.button-currency {
  text-align: center;
}
